Flask
gunicorn
python-dotenv
Werkzeug==2.0.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
click==8.0.1
certifi==2021.5.30
click==8.0.1
colorama==0.4.4
greenlet==1.1.1
importlib-metadata==4.8.2
packaging==21.0
six==1.16.0
typing-extensions==